:root {
  /* font-family */
  --app-font-family: initial;
  --app-font-secondary: "Dancing Script", cursive;

  /* colors */
  --app-blue: rgb(0, 0, 255);
  --app-blue-10: rgb(0, 0, 255, 0.1);
  --app-white: rgb(255, 255, 255);
  --app-white-80: rgb(255, 255, 255, 0.8);
  --app-ternary: #f2cf00;
  --app-ternary-dk: #f2b200;
  --app-grey-lt: #f4f4f4;
  --app-grey-xlt: #f7f7f7;
  --app-grey-xxlt: #f9f9f9;
  --app-black: rgb(0, 0, 0);
  --app-black-20: rgb(0, 0, 0, 0.2);
  --ap: yellow;

  /* font size */
  --font-xs: 12px;
  --font-sm: 14px;
  --font-n: 1rem;
  --font-md: 18px;
  --font-lg: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Ubuntu Mono", monospace; */
}

.app-bg {
  background-color: var(--app-blue);
}

/* Header Section */
.header {
  background-color: var(--app-blue);
}

.header--logo {
  font-size: 2rem;
  margin-right: 10px;
  font-weight: bolder;
  color: var(--app-white);
  font-family: var(--app-font-secondary);
}

.header--menu {
  color: var(--app-white);
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.header--menu-item {
  list-style-type: none;
  padding: 1rem 20px;
}

.header--menu-link {
  color: var(--app-white);
  font-weight: bolder;
  letter-spacing: 0.05rem;
  text-decoration: none;
  text-transform: uppercase;
}

.header--menu-link:hover {
  color: var(--app-ternary-dk);
}

/* Smoke intro section */
.smoke-container {
  height: 100vh;
  background: black;
  position: relative;
}

.smoke-video {
  object-fit: cover;
  width: 100%;
}

.smoke-heading {
  margin: 0;
  padding: 0;
  color: var(--app-white-80);
  font-size: 5em;
  letter-spacing: 0.2em;
  font-family: var(--app-font-secondary) sans-serif;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.smoke-heading span {
  opacity: 0;
  display: inline-block;
  animation: animate 7s 0s linear infinite forwards;
  /* @keyframes animation-name	
animation-duration	
animation-delay	
animation-iteration-count	
animation-direction	
animation-timing-function	
animation-fill-mode	
animation; */
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(20px);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(2px);
  }
}

.smoke-heading span:nth-child(1) {
  animation-delay: 1.5s;
}
.smoke-heading span:nth-child(2) {
  animation-delay: 2s;
}
.smoke-heading span:nth-child(3) {
  animation-delay: 2.5s;
}
.smoke-heading span:nth-child(4) {
  animation-delay: 3s;
}
.smoke-heading span:nth-child(5) {
  animation-delay: 3.5s;
}
.smoke-heading span:nth-child(6) {
  animation-delay: 3.75s;
}
.smoke-heading span:nth-child(7) {
  animation-delay: 4s;
}
.smoke-heading span:nth-child(8) {
  animation-delay: 5s;
}
.smoke-heading span:nth-child(9) {
  animation-delay: 6s;
}

/* Hero Section */
.hero-section {
  aspect-ratio: 1440/560;
  /* background-image: url("assets/Colored-Shapes.svg"); */
  background-image: url("assets/Polygon-Luminary.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.hero--container {
  height: inherit;
  color: var(--app-white);
}

.hero--btn {
  background: var(--app-ternary);
  background: linear-gradient(
    180deg,
    var(--app-ternary) 0%,
    var(--app-ternary-dk) 100%
  );
  box-shadow: 0 2px 3px rgb(0 0 0 / 50%);
  border: none !important;
  color: rgba(0, 0, 0, 0.6);
  padding: 12px 30px;
  border-radius: 30px;
}

.desc-section {
  padding: 80px 0;
}

.contact_form {
  background: var(--app-blue-10);
  border-radius: 8px;
  padding: 64px 40px;
}

.contact_form--group {
  margin-bottom: 2rem;
  position: relative;
}

.contact_form--input {
  border-radius: 8px;
  border: 1px solid var(--app-black-20);
  line-height: 2;
  outline: 0;
  padding: 1rem;
  width: 100%;
}

.contact_form--label {
  color: transparent;
  margin: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 1rem;
  /* z-index: 5; */
  transform: translateY(-50%);
  transition: all 0.28s ease;
  -webkit-transition: all 0.28s ease;
}

.contact_form--btn {
  background: var(--app-blue);
  border-radius: 8px;
  border: none;
  color: var(--app-white);
  font-weight: bolder;
  padding: 1rem 2rem;
}

/* .contact_form--input:valid ~ .contact_form--label,
.contact_form--input[readonly] ~ .contact_form--label { */
.contact_form--input:focus ~ .contact_form--label,
.contact_form--input:not(:placeholder-shown) ~ .contact_form--label {
  color: var(--app-black);
  top: 0;
  transform: translateY(-40%);
}

.contact_form--input:hover,
.contact_form--btn:hover,
.contact_form--input:focus,
.contact_form--btn:focus {
  box-shadow: 0px 4px 12px var(--app-black-20);
}

.contact_form--input:focus,
.contact_form--btn:focus {
  outline: none;
}
