:root {
  /* font-family */
  --app-font-family: initial;
  --app-font-secondary: "Dancing Script", cursive;

  /* colors */
  --app-blue: rgb(0, 0, 255);
  --app-blue-10: rgb(0, 0, 255, 0.1);
  --app-white: rgb(255, 255, 255);
  --app-ternary: #f2cf00;
  --app-ternary-dk: #f2b200;
  --app-grey-lt: #f4f4f4;
  --app-grey-xlt: #f7f7f7;
  --app-grey-xxlt: #f9f9f9;
  --app-black: rgb(0, 0, 0);
  --app-black-20: rgb(0, 0, 0, 0.2);
  --ap: yellow;

  /* font size */
  --font-xs: 12px;
  --font-sm: 14px;
  --font-n: 1rem;
  --font-md: 18px;
  --font-lg: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Ubuntu Mono", monospace; */
}

.app-bg {
  background-color: var(--app-blue);
}

/* Header Section */
.header {
  background-color: var(--app-blue);
}

.header--logo {
  font-size: 2rem;
  margin-right: 10px;
  font-weight: bolder;
  color: var(--app-white);
  font-family: var(--app-font-secondary);
}

.header--menu {
  color: var(--app-white);
  margin: 0;
}

.header--menu-item {
  list-style-type: none;
  padding: 1rem 20px;
}

.header--menu-link {
  color: var(--app-white);
  font-weight: bolder;
  letter-spacing: 0.05rem;
  text-decoration: none;
  text-transform: uppercase;
}

.header--menu-link:hover {
  color: var(--app-ternary-dk);
}

/* Hero Section */
.hero-section {
  aspect-ratio: 1440/560;
  /* background-image: url("assets/Colored-Shapes.svg"); */
  background-image: url("assets/Polygon-Luminary.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.hero--container {
  height: inherit;
  color: var(--app-white);
}

.hero--btn {
  background: var(--app-ternary);
  background: linear-gradient(
    180deg,
    var(--app-ternary) 0%,
    var(--app-ternary-dk) 100%
  );
  box-shadow: 0 2px 3px rgb(0 0 0 / 50%);
  border: none !important;
  color: rgba(0, 0, 0, 0.6);
  padding: 12px 30px;
  border-radius: 30px;
}

.desc-section {
  padding: 80px 0;
}

.contact_form {
  background: var(--app-blue-10);
  border-radius: 8px;
  padding: 64px 40px;
}

.contact_form--group {
  margin-bottom: 2rem;
  position: relative;
}

.contact_form--input {
  border-radius: 8px;
  border: 1px solid var(--app-black-20);
  line-height: 2;
  outline: 0;
  padding: 1rem;
  width: 100%;
}

.contact_form--label {
  color: transparent;
  margin: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 1rem;
  /* z-index: 5; */
  transform: translateY(-50%);
  transition: all 0.28s ease;
  -webkit-transition: all 0.28s ease;
}

.contact_form--btn {
  background: var(--app-blue);
  border-radius: 8px;
  border: none;
  color: var(--app-white);
  font-weight: bolder;
  padding: 1rem 2rem;
}

/* .contact_form--input:valid ~ .contact_form--label,
.contact_form--input[readonly] ~ .contact_form--label { */
.contact_form--input:focus ~ .contact_form--label,
.contact_form--input:not(:placeholder-shown) ~ .contact_form--label {
  color: var(--app-black);
  top: 0;
  transform: translateY(-40%);
}

.contact_form--input:hover,
.contact_form--btn:hover,
.contact_form--input:focus,
.contact_form--btn:focus {
  box-shadow: 0px 4px 12px var(--app-black-20);
}

.contact_form--input:focus,
.contact_form--btn:focus {
  outline: none;
}
